.notifikasjon_liste_element {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 1rem;
  padding: 1rem 0;
}

.notifikasjon_liste_element,
.notifikasjon_liste_element:hover,
.notifikasjon_liste_element:active {
  text-decoration: none;
  color: inherit;
}

.notifikasjon_liste_element:focus {
  outline: none;
}
.notifikasjon_liste_element-metadata {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.notifikasjon_liste_element-metadata-merkelapp {
  background-color: var(--navds-global-color-gray-100);
  border-radius: 4px;
  padding: 0.3rem 0.5rem;
}
.notifikasjon_liste_element-metadata-utgaattdato {
  grid-column-start: 2;
  display: flex;
  align-items: center;
  gap: 0.5ch;
}
.notifikasjon_liste_element:hover .notifikasjon_liste_element-lenkepanel-chevron {
  transform: translateX(25%);
  transition: all 100ms linear;
}
.notifikasjon_liste_element-lenkepanel {
  display: grid;
  grid-template-columns: 4rem auto 0 2rem;
  row-gap: 0.2rem;
  align-items: center;
  margin-top: 0.3rem;
}
.notifikasjon_liste_element-lenkepanel-ikon {
  height: 52px; /* får 6 ekstra piksler fra et sted ¯\_(ツ)_/¯ */
}
.notifikasjon_liste_element-lenkepanel-tekst {
  margin-right: auto;
}
.notifikasjon_liste_element-lenkepanel-tekst--ulest {
  font-weight: 800;
}
