.notifikasjon-Dropdown-panel {
  display: flex;
  z-index: 999;
  position: absolute;
  top: 5rem;
  right: 0;
  margin: 0;
  padding: 0;
  max-width: 30rem;
  border: solid 2px var(--a-deepblue-700);
  border-radius: 4px;
  max-height: calc(100vh - 21rem);
}

@media (max-width: 979px){
  .notifikasjon-Dropdown-panel {
    max-height: calc(100vh - 28rem);
  }
}

@media (max-width: 768px), (max-height: 600px) and (orientation: landscape){
  .notifikasjon-Dropdown-panel {
    max-height: unset;
    max-width: unset;
    width: min(100vw, 768px);
    position: fixed;
    top: calc(var(--decorator-sticky-offset, 0px) + 0rem);
    height: calc(100vh - env(safe-area-inset-bottom) - var(--decorator-sticky-offset, 0px));
  }
}

