.notifikasjon_panel {
  z-index: 10;
  color: var(--navds-global-color-gray-900);
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 30rem;
  background-color: white;
  outline: none;
  border: solid 2px var(--navds-global-color-deepblue-700);
  border-radius: 4px;
  top: 5rem;
  right: 0;
  visibility: hidden;
  transform: rotateX(-90deg);
  transform-origin: top center;
  opacity: 0.3;
  transition: 0.4s ease;
}
.notifikasjon_panel li {
  border: transparent 4px solid;
}
.notifikasjon_panel li:hover {
  background-color: #F0F6FB;
  border-left: var(--navds-global-color-deepblue-500) 4px solid;
}
.notifikasjon_panel li:focus-within {
  border: var(--navds-global-color-deepblue-500) 4px solid;
}
.notifikasjon_panel li:not(:last-child):focus-within .notifikasjon_liste_element {
  border-bottom: transparent 1px solid;
}
.notifikasjon_panel li:not(:last-child):not(:focus-within) .notifikasjon_liste_element {
  border-bottom: var(--navds-global-color-gray-400) 1px solid;
}
.notifikasjon_panel--apen {
  padding-right: 1px;
  visibility: visible;
  opacity: 1;
  transform-origin: top center;
  transition: max-height 0.6s linear;
  transform: rotateX(0);
  z-index: 999;
}
.notifikasjon_panel-feilmelding {
  margin: 1rem 1rem 0 1rem;
  border-bottom: var(--navds-global-color-gray-400) 1px solid;
}
.notifikasjon_panel-feilmelding > div {
  margin: 1rem 0;
}
.notifikasjon_panel-header {
  margin: 1rem 1rem 0 1rem;
  padding-bottom: 1rem;
  border-bottom: var(--navds-global-color-gray-600) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.notifikasjon_panel-header-xbtn {
  height: 16px; /* får 6 ekstra piksler fra et sted ¯\_(ツ)_/¯ */
  padding: 0;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
}
.notifikasjon_panel-footer {
  margin: 0 1rem 1rem 1rem;
  padding-top: 1rem;
  border-top: var(--navds-global-color-gray-600) 1px solid;
}
.notifikasjon_panel-liste {
  display: flex;
  flex-direction: column;
  height: 60vh;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
}
.notifikasjon_panel-liste::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: transparent;
}
.notifikasjon_panel-liste::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}
.notifikasjon_panel-liste::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--navds-global-color-gray-300);
}
@media (max-width: 768px) {
  .notifikasjon_panel {
    position: fixed;
    top: calc(var(--decorator-sticky-offset, 0px) + 0rem);
    height: 100vh;
  }
  .notifikasjon_panel-header {
    height: 5vh; /* får 6 ekstra piksler fra et sted ¯\_(ツ)_/¯ */
  }
  .notifikasjon_panel-liste {
    height: 80vh;
  }
  .notifikasjon_panel-footer {
    height: 5vh;
  }
}
