.notifikasjon-informasjon {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notifikasjon-informasjon-knapp {
  display: flex;
  align-items: center;
  height: 2rem;
  cursor: pointer;
  border: none;
  background-color: transparent;
  text-decoration: underline;
  color: var(--navds-global-color-blue-500);
}
.notifikasjon-informasjon-knapp svg {
  margin-right: 0.4rem;
}
.notifikasjon-informasjon-knapp:hover {
  text-decoration: none;
}
.notifikasjon-informasjon-popover {
  padding: 1rem;
}

/* No obvious way to get the desired effect with our own classes. Override
 * classes from design system. */
.notifikasjon-informasjon .navds-popover {
  border: var(--navds-global-color-lightblue-500) 2px solid;
  border-radius: 5px;
  background-color: var(--navds-global-color-lightblue-100);
}
.notifikasjon-informasjon .navds-popover__arrow {
  background-color: var(--navds-global-color-lightblue-100);
  border-right: var(--navds-global-color-lightblue-500) 2px solid;
  border-bottom: var(--navds-global-color-lightblue-500) 2px solid;
}
